scripts/__pycache__/colab_integration.cpython-312.pyc
scripts/__pycache__/colab_integration.cpython-313.pyc
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/__init__.cpython-313.pyc
src/data/__pycache__/__init__.cpython-312.pyc
src/data/__pycache__/__init__.cpython-313.pyc
src/data/__pycache__/augmentation.cpython-312.pyc
src/data/__pycache__/augmentation.cpython-313.pyc
src/data/__pycache__/dataloader.cpython-312.pyc
src/data/__pycache__/dataloader.cpython-313.pyc
src/data/__pycache__/preprocessing.cpython-312.pyc
src/data/__pycache__/preprocessing.cpython-313.pyc
src/models/__pycache__/__init__.cpython-312.pyc
src/models/__pycache__/baseline.cpython-312.pyc
src/models/__pycache__/custom_cnn.cpython-312.pyc
src/models/__pycache__/model_utils.cpython-312.pyc
src/training/__pycache__/__init__.cpython-312.pyc
src/training/__pycache__/metrics.cpython-312.pyc
src/training/__pycache__/trainer.cpython-312.pyc
src/visualization/__pycache__/__init__.cpython-312.pyc
src/visualization/__pycache__/plotting.cpython-312.pyc
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium.htm
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/0_jPlNUaXOnX8qZFbT.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/0_kdBp7fSquB33zXXQ.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/0_Km4n5IUY3Q0i_Zvt.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/0_Zh6LZ3MXbwp1ps7i.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_7TcDGgLc4K3Y8boBMHc4Mg.jpg
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_8biNIOdTZO6v4MDdtPmm2Q.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_57Sp0gLN_ojyoHWsijg7Dw.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_83iEa0-s1ilXuw4etDs6kw.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_Bl0JOTIjktNNfB6AUnfozg.jpg
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_BNn_dtN2nx7yl0KduJQG8g.jpg
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_BNn_dtN2nx7yl0KduJQG8g(1).jpg
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_BNn_dtN2nx7yl0KduJQG8g(2).jpg
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_bNO_qHXOicGizgLtzvyI-g.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_c3thSZ6Iphzr773MAZ5BAQ.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_dD-fGMTu5wg9KIVVna8i0w.jpg
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_dmbNkD5D-u45r44go_cf0g.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_eiWpSVh65QZN9usE6YRJTA.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_fYo4KhF1JLo5BxqOZSn5kg.jpg
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_HxYdjdOD9xdjDPzGM313Fg.jpg
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_j4toykz2_FJr5sHwv47VWQ.gif
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_JEuS4KBdakUcjg9sC7Wo4A.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_JyIThO-cLjlChQLb6kSlVQ.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_KwDpCNjFZ9fg2cCUWTkiUw.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_nkG7DL2n0eOXBIFR89eq9g.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_nKypAUGA4UeY0ftoJqnvww.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_oR38TPsrTpaiF_vtjr_4GA.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_QQwMQNW9TyPA73sYidXJDA.jpg
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_qW4UpSTBwEYKSP8MdfAvyw.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_qWhByDPn7fT9pv84Dws-yw.jpg
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_tMQ6d33x4be5QV1KUYac8A.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_UsIK1cVopngqEPz6tUTehQ@2x.jpg
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_V3J3BQTzeY_SacvlZ0FV9w.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_VqH0bOrfjeUkznphIC7KBg.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_VqH0bOrfjeUkznphIC7KBg(1).png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_VqH0bOrfjeUkznphIC7KBg(2).png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_VqH0bOrfjeUkznphIC7KBg(3).png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_VqH0bOrfjeUkznphIC7KBg(4).png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_YrenGCr9-Mru9Fg_8FkXjQ.png
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1_ZCjPUFrB6eHPRi4eyP6aaA.gif
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/144.8a62e7d9.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/200w.webp
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/628.4b410354.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/1069.bf9a777a.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/2527.065627bf.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/2698.a5c8f865.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/2707.6a3af3d5.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/3054.968b2cc0.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/3171.5b0ceee8.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/3326.874c9214.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/3338.0505d492.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/3523.fa9419d4.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/3623.2463c35d.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/3666.cdb15b43.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/3862.2b70461b.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/3974.6ff9e2e8.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/4378.a8ce3332.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/4737.baee277b.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/4783.3b00fa4a.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/4929.e7039595.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/6372.68a32361.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/6618.db187378.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/6834.6e1504d5.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/7381.9e3da70c.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/7465.cc726187.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/7753.40d294ed.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/7938.de1b2637.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/7975.ef730fbf.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/7979.15bcd496.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/8664.b06e2cc0.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/8768.ad7b26f9.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/8813.659c88d9.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/9977.8c7f6ab5.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/anchor.html
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/branch-latest.min.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/client
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/enterprise.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/gifEmbed.baff47d4.bundle.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/gtm.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/iframe.html
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/instrumentation.5bef8967.chun.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/js
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/js(1)
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/main.2cf072fc.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/manifest.ce8bef02.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/media.html
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/PostPage.MainContent.46c2eed8.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/PostResponsesContent.1e0372c8.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/recaptcha__en_gb.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/reporting.ff22a7a5.chunk.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/responses.editor.f01926ec.chu.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/runtime.eb31093a.bundle.js.download
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/saved_resource.html
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/saved_resource(1).html
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/style
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/styles__ltr.css
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/unbound.css
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/vcd15cbe7772f49c399c6a5babf22c12417176
docs/Understanding Convolutional Neural Networks 🧠_ A Beginner’s Journey into the Architecture 🚀 _ by Afaque Umer _ CodeX _ Medium_files/verified-badge.svg
data.zip
Kaggle.zip
.vscode/settings.json
